header {
  font-family: Futura;
  font-weight: bold condensed;
  color: #07294D;
  font-size: 25px;
}
body {
    background-color: #6CACE4;
}
h1 {
	color: #07294D;
	font-size: 20px;
}
#content {
    padding:3px;
}
#Drexel{
    /*center the image*/
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;}
#main_nav ul { padding: 0; font-weight: bold; }
#main_nav li a{
display: block;
margin: 6px;
padding: 9px;
border-radius: 10px; /* rounded corners */ list-style-type: none;
   text-decoration: none;
   color: #222;
/* nice gradient shade on the buttons */
background-image: -webkit-linear-gradient(top, #f8f8f8 0, #d4d4d4 100%); background-image: linear-gradient(to bottom, #f8f8f8 0, #d4d4d4 100%);
   border: 1px solid #666; /* dark outline */
}
nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}
video {
  border: 10px;
  margin: 6px;
  padding: 9px;
  border-radius: 10px;
/* transitions applied to the video element */ -moz-transition: all 1s ease-in-out; 
  -webkit-transition: all 1s ease-in-out; 
  -o-transition: all 1s ease-in-out; 
  -ms-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out;
}
audio {
  border: 10px;
  margin: 6px;
  padding: 9px;
  border-radius: 10px;
/* transitions applied to the video element */ 
  -moz-transition: all 0.5s ease-in-out; 
  -webkit-transition: all 0.5s ease-in-out; 
  -o-transition: all 0.5s ease-in-out; 
  -ms-transition: all 0.5s ease-in-out; 
}
button.back{
/*These lines override the previous styling of buttons*/
  
  -webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
  width:60px;
  height: 30px;
  /*These lines position the back button inside the header*/
  position:absolute;
  left:16px;
  top:8px;
}
header.secondary{
  padding-left: 75px;
}

